In [1]:
# get the working directory
import os
os.getcwd()

'/home/han/Projects/Kaggle/Introduction_to_machine_learning'

# Train data

In [2]:
# explore the train csv
import pandas as pd
path_to_input = "../train.csv"
train_data = pd.read_csv(path_to_input)
train_data.shape  # 1460 rows, 81 columns
train_data.head()  # see the top 5 rows
train_data.columns  # get the column names

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
train_data.head()  # see the top 5 rows

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# see which columns have missing values
train_data.isnull().sum(axis=0)  # to see which columns have missing values
train_data["SalePrice"].isna().sum()  # 0 row have missing values in SalePrice

0

In [5]:
# subset the variable to be tested against
# train_price = train_data["SalePrice"].astype(str).astype(float)
train_price = train_data["SalePrice"]
train_price

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [6]:
# select the features
features = ["Neighborhood", "OverallCond", "Condition1", "LotArea", "BedroomAbvGr", "YrSold"]
train_features = train_data[features]
train_features.head()

  Neighborhood  OverallCond Condition1  LotArea  BedroomAbvGr  YrSold
0      CollgCr            5       Norm     8450             3    2008
1      Veenker            8      Feedr     9600             3    2007
2      CollgCr            5       Norm    11250             3    2008
3      Crawfor            5       Norm     9550             3    2006
4      NoRidge            5       Norm    14260             4    2008

In [7]:
train_features.shape

(1460, 6)

In [8]:
train_features["Neighborhood"].unique()  # find out the unique value for Neighborhood
# the type is string

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [9]:
train_features["Condition1"].unique()
# the type is string

array(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
       'RRNe'], dtype=object)

In [10]:
# encode the string into int
# DecisionTree does not take "string"
from collections import defaultdict
from sklearn.preprocessing import LabelEncoder
d = defaultdict(LabelEncoder)
train_features_encoded = train_features.apply(lambda x: d[x.name].fit_transform(x))
# this is one way to do it but it will transform all columns

In [11]:
train_features_encoded.head()

   Neighborhood  OverallCond  Condition1  LotArea  BedroomAbvGr  YrSold
0             5            4           2      327             3       2
1            24            7           1      498             3       1
2             5            4           2      702             3       2
3             6            4           2      489             3       0
4            15            4           2      925             4       2

In [12]:
# another to transform them is by columns
from sklearn.preprocessing import LabelEncoder
labelencode = LabelEncoder()
train_features["Neighbour_encoded"] = labelencode.fit_transform(train_features["Neighborhood"])
train_features["condition1_encoded"] = labelencode.fit_transform(train_features["Condition1"])
train_features

/home/han/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/han/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Neighborhood,OverallCond,Condition1,LotArea,BedroomAbvGr,YrSold,Neighbour_encoded,condition1_encoded
0,CollgCr,5,Norm,8450,3,2008,5,2
1,Veenker,8,Feedr,9600,3,2007,24,1
2,CollgCr,5,Norm,11250,3,2008,5,2
3,Crawfor,5,Norm,9550,3,2006,6,2
4,NoRidge,5,Norm,14260,4,2008,15,2
...,...,...,...,...,...,...,...,...
1455,Gilbert,5,Norm,7917,3,2007,8,2
1456,NWAmes,6,Norm,13175,3,2010,14,2
1457,Crawfor,9,Norm,9042,4,2010,6,2
1458,NAmes,6,Norm,9717,2,2010,12,2
1459,Edwards,6,Norm,9937,3,2008,7,2

In [13]:
# remove the original columns
train_features = train_features.drop(["Neighborhood", "Condition1"], axis=1)
train_features.head()

,OverallCond,LotArea,BedroomAbvGr,YrSold,Neighbour_encoded,condition1_encoded
0,5,8450,3,2008,5,2
1,8,9600,3,2007,24,1
2,5,11250,3,2008,5,2
3,5,9550,3,2006,6,2
4,5,14260,4,2008,15,2

In [14]:
# split the train data into validation and actual training data
from sklearn.model_selection import train_test_split
subtrain_features, val_features, subtrain_price, val_price = train_test_split(train_features, train_price, random_state=1)

# Test data

In [15]:
# get the test data
path_to_test_input = "../test.csv"
test_data = pd.read_csv(path_to_test_input)
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [16]:
test_data.shape  # 1459 rows, 80 columns

(1459, 80)

In [17]:
test_data.columns  # price is missing

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [18]:
# subset the test data for the features
test_features = test_data[features]
test_features.head()

  Neighborhood  OverallCond Condition1  LotArea  BedroomAbvGr  YrSold
0        NAmes            6      Feedr    11622             2    2010
1        NAmes            6       Norm    14267             3    2010
2      Gilbert            5       Norm    13830             3    2010
3      Gilbert            6       Norm     9978             3    2010
4      StoneBr            5       Norm     5005             2    2010

In [19]:
# encode the categorical columns into numerical
test_features["Neighborhood_encoded"] = labelencode.fit_transform(test_features["Neighborhood"])
test_features["Condition1_encoded"] = labelencode.fit_transform(test_features["Condition1"])
test_features.head()

/home/han/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/han/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Neighborhood,OverallCond,Condition1,LotArea,BedroomAbvGr,YrSold,Neighborhood_encoded,Condition1_encoded
0,NAmes,6,Feedr,11622,2,2010,12,1
1,NAmes,6,Norm,14267,3,2010,12,2
2,Gilbert,5,Norm,13830,3,2010,8,2
3,Gilbert,6,Norm,9978,3,2010,8,2
4,StoneBr,5,Norm,5005,2,2010,22,2

In [20]:
# remove the original columns
test_features = test_features.drop(["Neighborhood", "Condition1"], axis = 1)
test_features.head()

,OverallCond,LotArea,BedroomAbvGr,YrSold,Neighborhood_encoded,Condition1_encoded
0,6,11622,2,2010,12,1
1,6,14267,3,2010,12,2
2,5,13830,3,2010,8,2
3,6,9978,3,2010,8,2
4,5,5005,2,2010,22,2

# Decision Tree Regressor

In [21]:
# use DecisionTree on train data
from sklearn.tree import DecisionTreeRegressor
house_price_model = DecisionTreeRegressor(random_state = 1)  # build a model

In [22]:
house_price_model.fit(subtrain_features, subtrain_price)  # fit the model

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

In [23]:
# predict and calculate mean absolute error
predicted_price = house_price_model.predict(val_features)
# mean absolute error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(predicted_price, val_price)
mae

42867.10684931507

In [24]:
# optimise max_leaf_nodes and reduce the mae
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [25]:
# find the optimal max_leaf_nodes
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, subtrain_features, val_features, subtrain_price, val_price)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))
# 50 is the most optimal max_leaf_nodes

Max leaf nodes: 5  		 Mean Absolute Error:  45816
Max leaf nodes: 50  		 Mean Absolute Error:  33610
Max leaf nodes: 500  		 Mean Absolute Error:  41338
Max leaf nodes: 5000  		 Mean Absolute Error:  42036

# Random Tree Regressor

In [26]:
# set up the model
from sklearn.ensemble import RandomForestRegressor
rt_model = RandomForestRegressor(random_state=1)  # set up the model
rt_model.fit(subtrain_features,subtrain_price)  # train the model
rt_predicted_price = rt_model.predict(val_features)  # predict the validation price
rt_mae = mean_absolute_error(rt_predicted_price, val_price)  # compute the mae
rt_mae

31794.71022380953

In [27]:
# optimise max_leaf_nodes for random forest
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [28]:
# find the optimal max_leaf_nodes
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, subtrain_features, val_features, subtrain_price, val_price)
    print("Max leaf nodes in Random Forest: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))
# 50 is the most optimal max_leaf_nodes

Max leaf nodes in Random Forest: 5  		 Mean Absolute Error:  43745
Max leaf nodes in Random Forest: 50  		 Mean Absolute Error:  31380
Max leaf nodes in Random Forest: 500  		 Mean Absolute Error:  31867
Max leaf nodes in Random Forest: 5000  		 Mean Absolute Error:  31917

Random Tree Regressor is the better model here and the most optimal number of max_leaf_nodes for both are 50. RandomTreeRegressor is chosen to predict the price of the test data.

# Predict the price of test data

In [29]:
# predict the price and output the predicted price into a csv
test_predict = rt_model.predict(test_features)
output = pd.DataFrame({'Id':test_data["Id"], 'SalePrice':test_predict})
output.to_csv('submission.csv',index=False)